<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sb001.mapper.ShareMapper">

    <resultMap id="BaseResultMap" type="com.example.sb001.model.Share">
            <id property="shareId" column="shareId" jdbcType="INTEGER"/>
            <result property="shareUrl" column="shareUrl" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="shareUser" column="shareUser" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="command" column="command" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        shareId,shareUrl,path,
        shareUser,status,command
    </sql>


    <insert id="shareFile" parameterType="com.example.sb001.model.Share" >
        insert into share(shareUrl, path, shareUser) values(#{shareUrl},#{path},#{shareUser})
    </insert>


    <select id="findShare" parameterType="com.example.sb001.model.Share" resultType="com.example.sb001.model.Share">
        select * from share where shareUrl = #{shareUrl} and status = #{status}
    </select>

    <select id="findShareByName" resultType="com.example.sb001.model.Share">
        select * from share where shareUser = #{username, jdbcType=VARCHAR} and status = #{status, jdbcType=TINYINT}
    </select>

    <update id="cancelShare">
        update share set status = #{status} where shareUrl = #{url} and path=#{filePath}
    </update>
</mapper>
